<header class="fixed top-0 z-50 left-0 right-0 w-full bg-white">
    <div class="p-4 w-full shadow-xl">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <div>
                   <a href="/">

                       <svg class="h-8 lg:h-12 w-auto"  viewBox="0 0 612 363" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M158.65 133.41V296.98C158.65 304.53 152.53 310.65 144.98 310.65H144.96C137.42 310.65 131.3 304.54 131.3 296.99V133.41H79.33V164.07V296.98C79.33 305.28 71.92 311.85 63.35 310.46C56.63 309.36 51.97 303.05 51.97 296.24V133.41H0V302.62C0 335.75 26.86 362.61 59.99 362.61H71.31C83.94 362.61 95.64 358.69 105.3 352.02C114.96 358.68 126.67 362.61 139.29 362.61H150.62C183.74 362.61 210.6 335.76 210.6 302.63V133.4H158.63L158.65 133.41Z" fill="#1A1A18"/>
                           <path d="M287.59 133.4H235.62V360.02H287.59V133.4Z" fill="#1A1A18"/>
                           <path d="M450.46 176.41C450.46 152.67 431.19 133.4 407.45 133.4H313.51V360.02H365.48V294.57L391.22 291.29C395.3 291.61 398.5 294.97 398.5 299.12V360.01H450.47V300.64C450.47 299.49 450.4 297.18 450.31 296.4C449.19 285.93 444.23 276.49 436.8 269.78C444.95 262.26 450.15 251.63 450.47 239.8V176.4L450.46 176.41ZM398.5 231.17C398.5 236.85 394.26 241.64 388.67 242.36L365.49 245.48V185.36H387.16C393.48 185.36 398.51 190.4 398.51 196.71V231.17H398.5Z" fill="#1A1A18"/>
                           <path d="M568.91 133.41H517.92C494.22 133.41 474.94 152.69 474.94 176.4V317.05C474.94 340.75 494.22 360.03 517.92 360.03H568.91C592.61 360.03 611.89 340.75 611.89 317.05V176.4C611.89 152.7 592.61 133.41 568.91 133.41ZM559.92 296.72C559.92 302.98 554.85 308.05 548.59 308.05H538.23C531.97 308.05 526.9 302.98 526.9 296.72V196.7C526.9 190.44 531.97 185.37 538.23 185.37H548.59C554.85 185.37 559.92 190.44 559.92 196.7V296.72Z" fill="#1A1A18"/>
                           <path d="M210.64 24.72V0H158.64V38.2L8.49 77.13C3.49 78.43 0 82.94 0 88.1V104.83H305.94V0.0200043L210.63 24.73L210.64 24.72Z" fill="#E2001A"/>
                           <path d="M603.4 77.12L305.95 0V104.81H611.89V88.08C611.89 82.92 608.4 78.41 603.4 77.11V77.12Z" fill="#AF0917"/>
                       </svg>

                   </a>
                </div>
                    {% if entry.type == 'startseite' %}
                        <a href="https://www.wiro.de" target="_blank" class="text-base sm:text-xl text-right mb-0 hover:text-wiro-red">www.wiro.de</a>
                    {% else %}
                        <a href="/" class="text-black hover:text-wiro-red inline-flex items-center gap-x-1 text-sm sm:text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="fill-current h-6 w-6"><path d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z"></path></svg>
                            <span>Zurück</span>
                        </a>
                    {% endif %}

            </div>
        </div>
    </div>
</header>