<header class="fixed top-0 z-50 left-0 right-0 w-full bg-white">
    <div class="p-4 w-full shadow-xl">
        <div class="container mx-auto">
            <div class="flex justify-between items-center">
                <div>
                   <a href="/">
                       <svg xmlns="http://www.w3.org/2000/svg" width="50.103" height="29.07" aria-hidden="true" class=""><g><g><path d="M23.991 10.834h-4.09a.231.231 0 0 0-.231.231V28.84a.232.232 0 0 0 .231.23h4.09a.231.231 0 0 0 .231-.23V11.065a.231.231 0 0 0-.231-.231m10.12 0h-7.647a.231.231 0 0 0-.231.231V28.84a.232.232 0 0 0 .231.23h4.068a.231.231 0 0 0 .23-.23v-6.157h1.539a.865.865 0 0 1 .866.865v5.286a.23.23 0 0 0 .23.231h3.952a.232.232 0 0 0 .229-.231v-5.3c-.084-1.435-.856-2.1-2.265-2.584 1.859-.345 2.265-1.636 2.265-3.473l.006-3.475a3.6 3.6 0 0 0-3.473-3.168m-.944 7.778a.867.867 0 0 1-.866.866h-1.539v-5.209h1.539a.865.865 0 0 1 .866.865Zm14.054-7.778h-5.047a2.885 2.885 0 0 0-2.883 2.884v12.469a2.884 2.884 0 0 0 2.883 2.883h5.047a2.882 2.882 0 0 0 2.882-2.883V13.718a2.884 2.884 0 0 0-2.882-2.884m-1.395 13.193a1.1285 1.1285 0 1 1-2.257 0V15.4a1.1285 1.1285 0 1 1 2.257 0ZM17.305 10.834h-3.684a.229.229 0 0 0-.229.231v12.358a1.1 1.1 0 0 1-1.093 1.1 1.1 1.1 0 0 1-1.1-1.1V11.065a.23.23 0 0 0-.226-.231H6.885a.231.231 0 0 0-.236.231v12.358a1.1 1.1 0 0 1-1.093 1.1 1.1 1.1 0 0 1-1.095-1.1L4.46 11.065a.23.23 0 0 0-.232-.231h-4a.231.231 0 0 0-.23.231v15.122a2.883 2.883 0 0 0 2.883 2.883h4.116a2.593 2.593 0 0 0 1.926-1.42 2.593 2.593 0 0 0 1.925 1.42h3.8a2.882 2.882 0 0 0 2.883-2.883V11.065a.23.23 0 0 0-.226-.231" class=""></path></g><g><path d="M25.029 8.815H0V6.669l13.484-3.593V0h4.132v1.976L25.029 0Z" class="" fill="#e2001a"></path></g><g><path d="M50.045 8.815V6.669L25.029-.001v8.816Z" class="" fill="#950011"></path></g></g></svg>
                   </a>
                </div>
                    {% if entry.type == 'startseite' %}
                        <a href="https://www.wiro.de" target="_blank" class="text-base sm:text-xl text-right mb-0 hover:text-wiro-red">www.wiro.de</a>
                    {% else %}
                        <a href="/" class="text-black hover:text-wiro-red inline-flex items-center gap-x-1 text-sm sm:text-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="fill-current h-6 w-6"><path d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-96,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48Zm96-64H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,200,136Zm0,64H152V152h48v48Z"></path></svg>
                            <span>Zurück</span>
                        </a>
                    {% endif %}

            </div>
        </div>
    </div>
</header>