{% if entry.keyvisual2 is defined %}
    <section class="px-4 intro z-10 mt-32">
        <img data-src="{{ entry.keyvisual.one.getUrl }}" class="lazy mx-auto max-h-full w-auto z-10" />
    </section>
{% endif %}

