{### Extends #}
{% extends '_layouts/master' %}

{### Permissions #}

{### Macros #}

{### Data logic #}

{% set smallKeyvisual = {
    mode: 'crop',
    width: 640
} %}



{### Blocks #}
{% block content %}

    <section class="p-4 bg-white z-30 relative">
        <div class="container mx-auto">

            {% if entry.keyvisual|length %}
                <figure class="mb-2 mx-auto max-w-2xl px-4">
                    <img
                            data-src="{{ entry.keyvisual.one.getUrl(smallKeyvisual) }}"
                            data-srcset="{{ entry.keyvisual.one.getUrl }} 641w"
                            class="lazy w-full h-auto z-10"/>

                </figure>
            {% endif %}


            <div class="text-center max-w-3xl mx-auto mt-6 px-4">
                <div class="mb-8">
                    {% if entry.text %}
                        {{ entry.text }}
                    {% endif %}
                </div>

            </div>

        </div>
    </section>

    <div class="fixed bottom-0 z-50 left-0 right-0 w-full bg-gray-100 border-t border-gray-300">
        <div class="p-4 w-full shadow-xl">


            <div class="container mx-auto">
                <div class="flex justify-end">
                    <a href="/galerie" class="btn text-xl">Zur Bildergalerie</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
